@font-face {
  font-family: f;
  src: url(Pluto-Cond-Black.woff);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: f;
}
body {
  font-family: f;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
  background: linear-gradient(to left, #818b94, #585858);
  
}
.back{
  font-family: f;
  height: 2.3rem;
  width: 4rem;
  border: black solid 0.2rem;
  border-radius: 1rem;
  position:relative; 
  top: -26rem;
  left: -15.5rem;
}
.backback{
  font-family: f;
  height: 2.3rem;
  width: 4rem;
  border: black solid 0.2rem;
  border-radius: 1rem;
  position:relative; 
  top: -26rem;
  left: -17.6rem;
}
.moreInfo{
  font-family: f;
  height: 2.3rem;
  width: 4rem;
  border: black solid 0.2rem;
  border-radius: 1rem;
  position:relative; 
  top: -26rem;
  right: -55.5rem;
}
.container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  transform-style: preserve-3d;
  min-height: 80vh;
  width: 35rem;
  border-radius: 30px;
  padding: 0rem 5rem;
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2), 0px 0px 50px rgba(0, 0, 0, 0.2);
}

.sneaker {
  min-height: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sneaker img {
  width: 20rem;
  z-index: 2;
  transition: all 0.75s ease-out;
}
.circle {
  width: 15rem;
  height: 15rem;
  background: linear-gradient(to right,#818b94, #e4e7eb );
  position: absolute;
  border-radius: 50%;
  z-index: 1;
}

.info h1 {
  font-size: 1.5rem;
  transition: all 0.75s ease-out;
}
.info h3 {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: white;
  font-weight: lighter;
  transition: all 0.75s ease-out;
}
.info ul {
  font-size: 1.3rem;
  padding: 2rem 0rem;
  color: white;
  font-weight: lighter;
  transition: all 0.75s ease-out;
  height: 120px;
}
.sizes {
  display: flex;
  justify-content: space-between;
  transition: all 0.75s ease-out;
}
.sizes button {
  padding: 0.5rem 2rem;
  background: none;
  border: none;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 30px;
  cursor: pointer;
  font-weight: bold;
  color: #585858;
}
button.active {
  background: #585858;
  color: white;
}
.purchase {
  margin-top: 5rem;
  transition: all 0.75s ease-out;
  font-family: f;
}
.purchase button {
  width: 100%;
  padding: 1rem 0rem;
  background: #e4e7eb;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  font-weight: bolder;
}
a:active{
text-decoration: none;
Color:black;
}
a{
  text-decoration: none;
Color:black;
}
a:visited{
  text-decoration: none;
Color:black;
}
a:Hover{
  text-decoration: none;
Color:black;
}
.info img {
  z-index: 1000;
  height: 30px;
  position: relative;
  top: -63px;
  left: 220px;

}
